/* Game Page Styles */
.game-page {
    text-align: center;
    background-color: #431C53;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.h2 {
    font-size: 1.5em;
    color: #E5B80B;
    margin-bottom: 20px;
}

  .user-input-container {
    margin-top: 20px;
  }
  
  .user-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .user-list .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #6C3483;
    padding: 10px;
    border-radius: 5px;
    color: #E5B80B;
  }
  
  .mystic-button {
    background: #FFD700;
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
    /*color: #2A1A5E;*/
    color:#431C53;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Chau Philomene One', sans-serif;
  }
  
  .mystic-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #FFD700;
    font-family: "Chau Philomene One", sans-serif;
  }
 