/* game.css */
* {
  box-sizing: border-box;
}

body {
  font-family: "Chau Philomene One", sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.game-page {
  display: none;
  text-align: center;
  background-color: #431c53;
  padding: 30px;
  color: #e5b80b;
  min-height: 100vh;
  overflow-y: auto;
}

.h1 {
  font-family: "Chau Philomene One", sans-serif;
  font-size: 2.5rem;
  color: #7c1b1b;
  text-shadow: 0 0 10px #6c3483;
}

.h2 {
  font-size: 1.5em;
  color: #e5b80b;
  margin-bottom: 20px;
}

.user-input-container {
  gap: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#user-name {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 30%;
}

.user-name {
  flex-grow: 1;
  text-align: center;
}

.user-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.user-item {
  width: 80%;
  height: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #7c1b1b;
  padding: 10px;
  border-radius: 5px;
  color: #e5b80b;
}

.add-user {
  background: #e5b80b;
  border: none;
  padding: 10px;
  font-size: 1rem;
  color: #431c53;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: "Chau Philomene One", sans-serif;
}

.mystic-button {
  background: #e5b80b;
  border: none;
  padding: 10px 10px;
  font-size: 1rem;
  color: #431c53;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: "Chau Philomene One", sans-serif;
}

.mystic-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #e5b80b;
}

.mystic-button:active {
  transform: scale(1.05);
  box-shadow: 0 0 5px #e5b80b;
}
